[run]
plugins = covdefaults
omit=
    */tests/*
    */migrations/*
    */__init__.py
    app/asgi.py
    app/wsgi.py
    app/settings.py
    */urls.py
data_file = ./coverage/.coverage

[report]
fail_under = 75

[xml]
output = ./coverage/coverage.xml
